body {
	font-family:"Open Sans",sans-serif;
}

.canvasContainer, .topLayer {
    position: absolute;
    left: 0px;
    top: 0px;
}
#logo {
	width: 550px;
	min-height: 200px;
	max-height: 600px;
	margin: 10px auto;
	overflow: auto;
    text-align: center;
    background: #ffffff url("../images/logo.png") no-repeat center center;
}

#controls {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
}

#controls .control {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 6px 8px;
}

#controls .control:hover {
    background-color: rgba(244, 244, 244, 0.8);
}

#controls .about {
    background: url("../images/info.png") no-repeat scroll center center rgba(255, 255, 255, 0.8);
}

#layoutSelection {
	width: 550px;
	min-height: 200px;
	max-height: 600px;
	margin: 10px auto;
	overflow: auto;
    background-color: #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #1F497D;
    list-style-type: none;
}

#layoutSelection>div {
	padding: 5px;
	margin: 20px 0px 20px 0px;
	cursor: pointer;
	border: 1px dashed #1F497D;
	border-left:0px;
	border-right:0px;
}

.clear {
	clear:both;
}

#layoutSelection>div:hover {
	background-color: #FFFFFF;
}

#layoutSelection>div img {
	border-radius: 20px;
	vertical-align:top;
	width: 124px;
	height: 124px;
	float:left;
}
#layoutSelection>div img+div {
	width: 350px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	float:left;
}


.descItem {
	display:block;
}

.descItem ul {
	margin:0px;
}

.label {
	font-weight: bold;
}

.label:after {
	content: ": ";
}

.topLayer {
	background-color: rgba(255,255,255,1);
	width:100%;
	height: 100%;
	z-index: 50;
}

canvas {
	/*background-color: rgba(200,0,0,0.1); */
}

fieldset {
    border: 5px solid #1F497D;
    background: #ddd;
    margin: 10px 0px 0px 0px;
}

fieldset legend {
    background: #1F497D;
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 16px;
    font-weight:bold;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}

#menu {
	height: 90%;
}

.right {
	text-align: right;
}

.column {
   display: table-cell;
   padding: 5px 10px 5px 0px;
}

.table {
	display: table;
	width: 100%;
}

#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}

#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}

#delayContainer {
	text-align: center;
	margin: 10px 0px 10px 0px;
}

#delayInput {
	padding: 0px;
	vertical-align: middle;
}

#delayValue:after {
	content: "%",
}

.rangeLabel {
	font-size: 0.9em;
}

#sidebar {
	position:absolute;
	left: 0px;
    top: 0px;
    padding-left: 5px;
    width:270px;
    font-family: sans-serif;
	font-style:normal;
    font-size:14px;
    background-color: rgba(203, 209, 214, 0);
}

#sidebar button {
	box-shadow: 0px 1px 1px 0px #ffffff;
	background-color:#1F497D;
	border:0px solid #83c41a;
	color:#ffffff;
	margin: 5px;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	width:70px;
	text-align:center;
}

#dnaData textarea {
    vertical-align:text-top;
}

#dnaData .column {
    padding: 0px 5px 5px 0px;
}

progress {
	background-color: #f3f3f3;
	border: 0;
	height: 18px;
    width: 100%
}

progress::-webkit-progress-bar {
	background-color: #f3f3f3;
}
progress::-webkit-progress-value {
	background-color: #1F497D;
}
progress::-moz-progress-bar {
	background-color: #1F497D;
}


#sidebar button:active {
	position:relative;
	top:1px;
}

#sidebar button.disabled, #sidebar button.disabled:hover, #sidebar button.disabled:active {
	background-color: #A6A6A6;
	top:0px;
}

span.customSelect { 
    font:12px sans-serif;
    background:#f5f5f5 url('../images/customSelect-arrow.gif') right center no-repeat;
    border:1px solid #ddd;
    color:#555;
    padding:7px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:70px;
}
.customSelect.customSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.customSelect.customSelectFocus {
    border-color:#1F497D;
}
.customSelect.customSelectOpen {
    border-color:#1F497D;
}

#carsContainer {
	max-height: 150px;
	overflow: auto;
}

#simulationList {
	font-size: 0.9em;
	max-height: 100px;
	overflow: auto;
}

#carsList, #simulationList {
    list-style: none;
    padding:0;
    margin:10px 0;
}
.list-bullet {
    border: 1px solid #6D6D6D;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-bottom: 1px;
    margin-right: 5px;
    vertical-align: middle;
}

#addCasualCar, #carCounter {
	margin-top: 10px;
}

#attribution {
	position: absolute;
	bottom: 0;
	right:0;
	font-size: 11px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	color: #333333;
	height: 20px;
	z-index: 40;
	padding: 0 5px;
}

a:visited {
	color: #0000FF;
}

#attribution a {
	text-decoration: none;
	color: #0078A8;
}

#dnaData .column:last-child button {
    width: 80px !important;
}

